<header>

    <div class="container">

        <div class="logo">
            <img src= "https://tse2.mm.bing.net/th/id/OIP.-qAeuNckRcURUSfA6AoBMQHaKg?w=143&h=203&c=7&r=0&o=5&dpr=1.5&pid=1.7">
            <h1>Papel de Seda Papelaria</h1>
        </div>

        <ul class="menu">
            <li><a routerLink="/carrinho">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtsUX8heQs3qk8fybopUlnzK14IUZ3CTgueg&s">
            </a></li>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/quem-somos">Quem Somos</a></li>
            <li><a routerLink="/contato">Contato</a></li>

        </ul>




    </div>
</header>