footer{
    text-align: center;
    background-color: rgb(173, 223, 173);
    color: rgba(250, 246, 246, 0.973);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

